@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1320px;
<<<<<<< HEAD
  max-width: 1320px;
=======
>>>>>>> 461ebb902053b0b4742d17380d8ca47f271f1d7d
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
<<<<<<< HEAD
=======
  font-family: "montserrat", sans-serif;
>>>>>>> 461ebb902053b0b4742d17380d8ca47f271f1d7d
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

<<<<<<< HEAD
.header-block-one {
  width: 100%;
  height: 45px;
  background-color: #1A1A1A;
}
.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_loc {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 7px;
}
.header_loc-title {
  font-size: 16px;
  color: #B3B3B3;
}
.header_sign {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header_sign-eng {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header_sign-eng-tite {
  font-size: 16px;
  color: #B3B3B3;
}
.header_sign-eng-tite:hover {
  color: green;
}
.header_sign-eng:hover path {
  fill: green;
}
.header_sign-usd {
  display: flex;
  align-items: center;
  border-right: 1px solid #B3B3B3;
  padding: 0 10px;
  cursor: pointer;
}
.header_sign-usd:hover path {
  fill: green;
}
.header_sign-signin {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header_sign-signin-button {
  font-size: 16px;
  color: #B3B3B3;
}
.header_sign-signin-button:hover {
  color: green;
}
.header_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 93px;
  padding: 30px 0;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header_logo-title {
  font-weight: 500;
}
.header-email {
  display: flex;
}
.header_email {
  width: 400px;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px 0 0 10px;
  border: 1px solid #E6E6E6;
  justify-content: space-between;
}
.header_email-btn {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 8px;
}
.header_email-input {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  color: #39425D;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 16px;
  transition: all 0.2s ease-in-out;
}
.header_email-btn2 {
  width: 98px;
  height: 45px;
  background-color: green;
  color: #fff;
  border-radius: 0 10px 10px 0;
}
.header_form {
  display: flex;
  align-items: center;
}
.header_shop {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header_shop-sub1 {
  font-size: 11px;
  color: #4D4D4D;
}
.header_shop-sub2 {
  font-size: 16px;
  color: black;
}
.header_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 20px 0;
}
.header_button-navbar {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header_button-link {
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
}
.header_button-link:hover {
  color: green;
}
.header_button-link:hover path {
  fill: green;
}
.header_button-call {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
}
.header-block-four {
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.header-block-four img {
  width: 100%;
}
.header-block-four-home {
  position: absolute;
  top: 70px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #00B207;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}


.footer_row {
  margin-top: 50px;

}
.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_top-color {
  width: 100%;
  height: 162px;
  background-color: #F7F7F7;
  padding: 35px 0;
}
.footer_top-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_top-text-title {
  font-size: 24px;
  font-weight: 600;
  color: #1A1A1A;
}
.footer_top-text-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.footer_top-email {
  display: flex;
}
.footer_top_email {
  width: 536px;
  height: 52px;
  display: flex;
  align-items: center;
  gap: 170px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #E6E6E6;
  justify-content: space-between;
}
.footer_top_email-input {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  color: #39425D;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 16px;
  transition: all 0.2s ease-in-out;
}
.footer_top_email-btn2 {
  width: 162px;
  height: 52px;
  background-color: green;
  color: #fff;
  border-radius: 25px;
}
.footer_top-socile {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 184px;
}
.footer_top-socile-svg1:hover {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid green;
  background-color: green;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.footer_top-socile-svg1:hover:hover path {
  fill: white;
}
.footer_top-socile-svg2:hover {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid green;
  background-color: green;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.footer_top-socile-svg2:hover:hover path {
  fill: white;
}
.footer_top-socile-svg3:hover {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid green;
  background-color: green;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.footer_top-socile-svg3:hover:hover path {
  fill: white;
}
.footer_top-socile-svg4:hover {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid green;
  background-color: green;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.5s ease-in-out;
}
.footer_top-socile-svg4:hover:hover path {
  fill: white;
}
.footer_button {
  display: flex;
  padding-top: 60px;
  gap: 60px;
}
.footer_button-color {
  width: 100%;
  height: 368px;
  background-color: #1A1A1A;
}
.footer_button_one {
  width: 336px;
  height: 166px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer_button-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer_button-logo-tit {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 500;
}
.footer_button-text-sub {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.footer_button-call {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer_button-call-p1 {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  border-bottom: 1px solid green;
}
.footer_button-call-p2 {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  border-bottom: 1px solid green;
}
.footer_button-call-span {
  font-size: 16px;
  color: #808080;
}
.footer_button-two {
  display: flex;
  gap: 40px;
}
.footer_button-two-text1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_button-two-text1-p1 {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.footer_button-two-text1-p2 {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
.footer_button-two-text1-p2:hover {
  color: #F7F7F7;
}
.footer_button-two-text2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_button-two-text3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_button-two-text4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-bottom {
  display: flex;
  padding-top: 45px;
  justify-content: space-between;
}
.footer-bottom-text {
  padding: 24px 0px 24px 0px;
}
.footer-bottom-text-p {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}
.footer-bottom-socile {
  display: flex;
  gap: 8px;
}
.footer-bottom-socile-one {
  width: 45px;
  height: 31px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom-socile-two {
  width: 45px;
  height: 31px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom-socile-three {
  width: 45px;
  height: 31px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom-socile-four {
  width: 45px;
  height: 31px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom-socile-five {
  width: 70px;
  height: 32px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: flex;
  padding: 5px 5px;
  gap: 5px;
}
.footer-bottom-socile-five-p2 {
  color: #FFFFFF;
  font-size: 9px;
  font-weight: 500;
}
.footer-bottom-socile-five-p1 {
  color: #FFFFFF;
  font-size: 8px;
  font-weight: 400;
}

.product {
  margin-top: 40px;
}
.product-row {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 20px;
}
.product-left {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 15px;
}
.product-left .row {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 18px;
}
.product-left .row_button:not(:last-child) {
  margin-bottom: 24px;
}
.product-left .row_button:not(:first-child) {
  margin-top: 24px;
}
.product-left .row-content {
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
.product-left .row-content:hover {
  border: 2px solid #00B207;
}
.product-left .row-content.active {
  border: 2px solid #00B207;
}
.product-right {
  width: 100%;
}
.product-right .head {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 2px solid #E6E6E6;
}
.product-right .head-stock {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 10px;
}
.product-right .head-stock__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43.2px;
}
.product-right .head-stock__btn {
  background-color: rgba(32, 181, 38, 0.2);
  padding: 6px 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.product-right .head-stock__btn:hover {
  color: #fff;
  background-color: #00B207;
}
.product-right .head-rating {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 6px;
}
.product-right .head-rating_subtitle {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.product-right .head-rating_sku {
  color: #333333;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.product-right .head-rating_sku.num {
  color: #666666;
  font-weight: 300;
}
.product-right .head-price {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 5px;
}
.product-right .head-price__sale {
  color: #B3B3B3;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: line-through;
}
.product-right .head-price__number {
  color: #2C742F;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.product-right .head-price__btn {
  padding: 3px 10px 3px 10px;
  border-radius: 30px;
  background-color: rgba(234, 75, 72, 0.1019607843);
  color: #EA4B48;
}
.main {
  flex: 1 1 auto;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.menus {
  width: 100%;
  display: flex;
  gap: 12px;
}
.menus-shopping-card {
  width: 872px;
  border-radius: 8px;
  height: 311px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
}
.menus-card-total {
  width: 424px;
  height: 266px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.shopping-card__rows {
  display: block;
}
.shopping-card__rows_row-1 {
  display: flex;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  align-items: center;
  justify-content: space-between;
}
.shopping-card__rows_row-1_titles-1 {
  display: block;
}
.shopping-card__rows_row-1_titles-1_text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #808080;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
}
.shopping-card__rows_row-1_titles-2 {
  display: flex;
}
.shopping-card__rows_row-1_titles-2_text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 118px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #808080;
  text-align: left;
}
.shopping-card__rows_row-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  height: 100px;
}
.shopping-card__rows_row-2_Product {
  display: flex;
}
.shopping-card__rows_row-2_Product_images_img {
  width: 100px;
  height: 99px;
}
.shopping-card__rows_row-2_Product_title {
  display: flex;
  align-items: center;
}
.shopping-card__rows_row-2_Product_title_text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.shopping-card__rows_row-2_Price {
  display: block;
  align-self: center;
}
.shopping-card__rows_row-2_Price_text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.shopping-card__rows_row-2_Quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shopping-card__rows_row-2_Quantity_Quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 25px;
  padding: 8px;
  border: 1px solid #E6E6E6;
}
.shopping-card__rows_row-2_Quantity_Quantity_minus {
  display: flex;
  align-items: center;
}
.shopping-card__rows_row-2_Quantity_Quantity_minus_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-weight: bold;
  transition: 0.2s;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgb(245, 245, 245), rgb(204, 204, 204));
}
.shopping-card__rows_row-2_Quantity_Quantity_minus_btn:hover {
  transform: translateY(2px);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
}
.shopping-card__rows_row-2_Quantity_Quantity_title {
  display: block;
}
.shopping-card__rows_row-2_Quantity_Quantity_title_text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.shopping-card__rows_row-2_Close {
  display: flex;
  align-items: center;
}
.shopping-card__rows_row-2_Close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  font-weight: bold;
  transition: 0.2s all ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.shopping-card__rows_row-2_Close_btn:hover {
  transform: translateY(2px);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  background: #f7f7f7;
}
.shopping-card__rows_row-3 {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
  height: 100px;
}
.shopping-card__rows_row-4 {
  display: block;
  padding: 18px;
}
.shopping-card__rows_row-4_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-card__rows_row-4_buttons_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #4D4D4D;
  font-size: 14px;
  border-radius: 25px;
  width: 150px;
  font-weight: 600;
  line-height: 16.8px;
  cursor: pointer;
  height: 40px;
  border-bottom: 4px solid #858985;
  transition: 0.1s;
  background-color: #F2F2F2;
}
.shopping-card__rows_row-4_buttons_btn:hover {
  border-bottom-width: 0px;
  transform: translateY(1px);
}

.card-total {
  display: block;
  padding: 20px;
}
.card-total__title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.card-total__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-total__info_Subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 12px 0;
  border-bottom: 1px solid #E6E6E6;
}
.card-total__info_Subtotal_left {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #4D4D4D;
  text-align: left;
}
.card-total__info_Subtotal_rigth {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.product-right .body {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
  border-bottom: 2px solid #E6E6E6;
}
.product-right .body-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-right .body-brand {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 5px;
}
.product-right .body-brand__title {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.product-right .body-social {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 5px;
}
.product-right .body-social__title {
  color: #1A1A1A;
  letter-spacing: 0em;
  text-align: left;
}
.card-total__info_Shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 12px 0;
  border-bottom: 1px solid #E6E6E6;
}
.card-total__info_Shipping_left {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  color: #4D4D4D;
  text-align: left;
}
.card-total__info_Shipping_rigth {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.card-total__info_Total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 18px 0;
  margin: 0 0 12px 0;
}
.card-total__info_Total_left {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-right: 10px;
}
.product-right .body-social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.product-right .body-social_links:hover {
  background-color: #00B207;
  border-radius: 50%;
}
.product-right .body-social_links:hover svg path {
  fill: #fff;
}
.product-right .body-social_links.active {
  background-color: #00B207;
  border-radius: 50%;
}
.product-right .body-social_links.active svg path {
  fill: #fff;
}
.product-right .body-social_links.fc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00B207;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}
.product-right .body-social_links.fc:hover {
  background-color: #fff;
  border-radius: 50%;
}
.product-right .body-social_links.fc:hover svg path {
  fill: #1A1A1A;
}
.product-right .body-social_links.fc.active {
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.product-right .body-social_links.fc.active svg path {
  fill: #1A1A1A;
}
.product-right .body-description {
  width: 80%;
}
.product-right .bottom-btn_section {
  padding: 18px 0;
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 12px;
  border-bottom: 2px solid #E6E6E6;
}
.product-right .bottom_quantity {
  width: 124px;
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 10px;
  border-radius: 170px;
  border: 1px solid #E6E6E6;
  padding: 8px;
}
.product-right .bottom_quantity_btn {
  width: 34px;
  height: 34px;
  background-color: #F2F2F2;
  border-radius: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-right .bottom_quantity_num {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.product-right .bottom_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px 40px 16px 40px;
  background-color: #00B207;
  border-radius: 43px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.product-right .bottom_btn:hover {
  background-color: #fff;
  color: #00B207;
  transition: all 0.2s ease-in-out;
}
.product-right .bottom_btn:hover svg path {
  stroke: #00B207;
}
.product-right .bottom_wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: rgba(32, 181, 38, 0.1019607843);
  border-radius: 43px;
  transition: all 0.2s ease-in-out;
}
.product-right .bottom_wishlist:hover {
  background-color: #00B207;
}
.product-right .bottom_wishlist:hover svg path {
  stroke: #fff;
}
.product-right .bottom_categories {
  padding: 24px 0;
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 12px;
}
.product-right .bottom_categories_titles {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 6px;
}
.product-right .bottom_categories_title {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.product-right .bottom_categories_title.gray {
  color: #808080;
  font-weight: 400;
}
.product-right .bottom_categories_tags {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 6px;
}
.product-right .bottom_categories_tag {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.product-right .bottom_categories_link {
  color: #808080;
  letter-spacing: 0em;
  color: #4D4D4D;
  text-align: left;
}
.card-total__info_Total_rigth {
  color: #1A1A1A;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.card-total__buttons_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 43px;
  width: 376px;
  height: 51px;
  font-weight: 500;
  transition: 0.2s;
  opacity: 1;
  background-color: #00B207;
}
.card-total__buttons_btn:hover {
  opacity: 0.7;
}

.coupon__code {
  width: 872px;
  height: 91px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  padding: 20px;
}
.coupon__code_title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.coupon__code_buttons {
  display: flex;
  align-items: center;
  width: 668px;
  height: 52px;
  border: 1px;
  position: relative;
}
.coupon__code_buttons_input {
  outline: none;
  width: 653px;
  height: 52px;
  top: 20px;
  left: 184px;
  padding: 14px, 24px;
  border-radius: 46px;
  border: 1px;
  gap: 10px;
  border: 1px solid #E6E6E6;
  font-size: 16px;
}
.coupon__code_buttons_input {
  padding-left: 20px;
}
.coupon__code_buttons_btn {
  width: 196px;
  height: 52px;
  position: absolute;
  top: 0px;
  left: 456px;
  padding: 16px, 40px, 16px, 40px;
  border-radius: 43px;
  gap: 16px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  background: #000;
}
.coupon__code_buttons_btn:hover {
  opacity: 0.7;
}

.menus__CheckoutPage {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 12px;
}
.menus__CheckoutPage__Informations {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.menus__CheckoutPage__Informations_Billing-Info {
  display: block;
}
.menus__CheckoutPage__Informations_Billing-Info_title {
  margin-bottom: 20px;
  display: block;
}
.menus__CheckoutPage__Informations_Billing-Info_title_text {
  display: block;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 20px 0;
  justify-content: space-between;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_First-name {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_First-name_title {
  display: block;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_First-name_title_text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_First-name_inputs {
  display: block;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_First-name_inputs_input {
  width: 264px;
  height: 49px;
  padding: 14px, 142px, 14px, 16px;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  padding: 12px;
  outline: none;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_Last-name {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_Company-name {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_Company-name_title {
  width: 190.35px;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_Company-name_title_text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Informations_Billing-Info_section-1_Company-name_title_text_span {
  color: gray;
}
.menus__CheckoutPage__Informations_Billing-Info_section-3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0 0 0;
  justify-content: space-between;
}
.menus__CheckoutPage__Informations_Billing-Info_section-2 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0 20px 0;
  justify-content: space-between;
}
.menus__CheckoutPage__Informations_Billing-Info_checkbox {
  display: flex;
  gap: 4px;
  width: 864px;
  padding-bottom: 20px;
  margin-bottom: -20px;
  border-bottom: 1px solid #E6E6E6;
}
.menus__CheckoutPage__Informations_Billing-Info_checkbox_input {
  cursor: pointer;
}
.menus__CheckoutPage__Informations_Billing-Info_checkbox_label {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.product-right .bottom_categories_link.black {
  color: #1A1A1A;
  text-decoration: underline;
  font-weight: 500;
}
.product-right .bottom_categories_link:hover {
  color: #1A1A1A;
  text-decoration: underline;
}

.tab-menu_head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: 0.1px solid #00B207;
}
.tab-menu_head-button {
  padding: 16px;
  border-bottom: 1px solid transparent;
}
.tab-menu_head-button.active {
  border-bottom: 1px solid #00B207;
  color: #252B2E;
}
.tab-menu .body {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 130px;
  padding-top: 32px;
  opacity: 1;
  visibility: visible;
}
.tab-menu .body.active {
  opacity: 0;
  visibility: hidden;
}
.tab-menu .body-left {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 20px;
}
.tab-menu .body-left_feature {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 10px;
}
.tab-menu .body-left_feature_card {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 5px;
}
.tab-menu .body-left_feature_title {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}
.tab-menu .body-left_description {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.tab-menu .body-left_subtitle {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.tab-menu .body-left_nexttitle {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.tab-menu .body-left2 {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 30px;
}
.tab-menu .body-left2_col {
  display: flex;
  align-items: unset;
  justify-content: unset;
  flex-direction: column;
  gap: 12px;
}
.tab-menu .body-left2_col_title {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.tab-menu .body-left2_col_subtitle {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.tab-menu .body-left2_col_link {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.tab-menu .body-left2_col_link:hover {
  text-decoration: underline;
  color: #1A1A1A;
}
.tab-menu .body-left2_col_link.black {
  text-decoration: underline;
  color: #1A1A1A;
}
.tab-menu .body-left2_col_link.black:hover {
  text-decoration: none;
  color: #666666;
}
.tab-menu .body-right {
  position: relative;
}
.tab-menu .body-right_player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-menu .body-right_btn {
  position: absolute;
  border-radius: 50%;
  background-color: #00B207;
  padding: 20px 25px;
}
.tab-menu .body-right_content {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 22px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  margin-top: 20px;
}
.tab-menu .body-right_card {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 12px;
}
.tab-menu .body-right_card_title {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}
.tab-menu .body-right_card_subtitle {
  color: #808080;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
}
.tab-menu .body2 {
  display: flex;
  align-items: unset;
  justify-content: unset;
  gap: 270px;
  padding-top: 32px;
}
.tab-menu .body2.active {
  opacity: 1;
  visibility: visible;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Informations_Additional-Info {
  display: block;
}
.menus__CheckoutPage__Order-Summery {
  width: 424px;
  height: 580px;
  padding: 20px;
  gap: 24px;
  margin-top: 15px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.menus__CheckoutPage__Order-Summery_Order-Summery {
  display: flex;
  flex-direction: column;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_title {
  display: block;
  margin-bottom: 20px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_title_text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian_images {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian_images_img {
  width: 60px;
  height: 60px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian_images_text {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian_images_text_span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian_images_text-1 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_green-Bulgarian_price {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Product_red-Bulgarian {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px 10px 10px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_Total:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
}
.menus__CheckoutPage__Order-Summery_Payment-Method {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.menus__CheckoutPage__Order-Summery_Payment-Method {
  text-align: left;
}

.textarea {
  outline: none;
  border-radius: 6px;
  border: 1px solid #E6E6E6;
  font-size: 16px;
  padding: 16px;
  outline: none;
  resize: none;
}
.textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  transition: all 0.2 ease-in-out;
}
.textarea:hover {
  cursor: pointer;
}
.textarea:focus {
  cursor: text;
  border: 1px solid #333;
}

.menus__CheckoutPage__Order-Summery_Order-Summery_radio {
  display: block;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_radio_radios {
  display: flex;
  gap: 8px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_radio_radios:not(:last-child) {
  margin-bottom: 10px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_radio_radios_input {
  width: 20px;
  height: 20px;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_radio_radios_input::after {
  background: #00B207;
}
.menus__CheckoutPage__Order-Summery_Order-Summery_radio_radios_label {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.menus__CheckoutPage__Order-Summery_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menus__CheckoutPage__Order-Summery_buttons_btn {
  width: 376px;
  height: 51px;
  padding: 16px, 40px, 16px, 40px;
  border-radius: 43px;
  gap: 16px;
  background: #00B207;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.menus__CheckoutPage__Order-Summery_buttons_btn:hover {
  opacity: 0.7;
=======
.section {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.section-filter {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(14, 238, 14);
}
.section-filter-text {
  font-size: 12px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  color: #fff;
}
.section-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.section-Latest {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 5px;
  border: 1px solid rgb(153, 151, 151);
}
.section-text {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  color: rgb(163, 162, 162);
}
.section-end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.section-end-number {
  font-size: 16px;
  font-weight: 600;
}
.section-end-text1 {
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  color: rgb(138, 136, 136);
}

.section2 {
  width: 100%;
  height: 100%;
}
.section2-left {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section2-left-input {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
  border: 1px solid gray;
}
.section2-left-input-text {
  border: none;
}
.section2-left-input-text:focus {
  outline: none;
}
.section2-left-title {
  width: 100%;
  height: 100%;
}
.section2-left-title-text {
  font-size: 24px;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
}
.section2-left-subtitle {
  display: flex;
  justify-content: space-between;
}
.section2-left-subtitle-text {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.section2-left-subtitle-number {
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.section2-left-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.section2-left-buttons-one {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(228, 224, 224);
}
.section2-left-buttons-one:hover {
  background-color: rgb(13, 221, 13);
}
.section2-left-buttons-one.active {
  background-color: rgb(13, 221, 13);
  color: #fff;
}
.section2-left-buttons-text {
  font-size: 14px;
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  padding: 5px;
}
.section2-left-buttons-text:hover {
  color: #fff;
>>>>>>> 461ebb902053b0b4742d17380d8ca47f271f1d7d
}/*# sourceMappingURL=main.css.map */