@import './global/index';
@import './components/index';
@import './pages/index';



.header{

    &-block-one{
      width: 100%;
      height: 45px;
      background-color: #1A1A1A;
    }
    &_top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_loc{
      display: flex;
      align-items: center;
      padding: 10px 0;
      gap: 7px;
  
      &-title{
        font-size: 16px;
        color: #B3B3B3;
      }
    }
    &_sign{
      display: flex;
      align-items: center;
      gap: 12px;
  
      &-eng{
        display: flex;
        align-items: center;
        cursor: pointer;
        &-tite{
          font-size: 16px;
          color:#B3B3B3;
          &:hover{
            color: green;
          }
        }
        &:hover path{
          fill: green;
        }
      } 
      &-usd{
        display: flex;
        align-items: center;
        border-right: 1px solid #B3B3B3;
        padding: 0 10px;
        cursor: pointer;
        &:hover path{
          fill: green;
        }
        
      }
      &-signin{
        display: flex;
        align-items: center;
        gap: 12px;
         
        &-button{
           font-size: 16px;
           color:#B3B3B3;
           &:hover{
            color: green;
          }
        }
      }
    }
  
    &_center{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 93px;
      padding: 30px 0;
    }
    &_logo{
      display: flex;
      align-items: center;
      gap: 12px;
  
      &-title{
        font-weight: 500;
      }
    }
    &-email{
      display: flex;
    }
    &_email{
      width: 400px;
      height: 45px;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      border-radius: 10px 0 0 10px;
      border: 1px solid #E6E6E6;
      justify-content: space-between;
  
      &-btn{
        display:flex;
        align-items: center;
        padding: 10px 0;
        gap: 8px;
      }
      &-input{
        background-color: transparent;
        border: none;
        font-family: inherit;
        cursor: pointer;
        outline: none;
        border: none;
        color: #39425D;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 16px;
        transition: all 0.2s ease-in-out;
    }
    &-btn2{
      width: 98px;
      height: 45px;
      background-color: green;
      color: #fff;
      border-radius: 0 10px 10px 0;
    }
  }
      &_form{
        display: flex;
        align-items: center;
      }
  
      &_shop{
        display: flex;
        align-items: center;
        gap: 16px;
        &-sub1{
          font-size: 11px;
          color:#4D4D4D;
        }
        &-sub2{
          font-size: 16px;
          color: black;
        }
      }
  
      &_button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 20px 0;
  
        &-navbar{
          display: flex;
          align-items: center;  
          gap: 32px;
        }
  
        &-link{
          display: flex;
          align-items: center;
          color:#666666;
          font-size: 14px;
          font-weight: 500;
  
          &:hover{
            color: green;
          }
          &:hover path{
            fill: green;
          }
        }
        &-call{
          display: flex;
          align-items: center;
          gap: 12px;
          font-size: 14px;
          font-weight: 500;
          color: #1A1A1A;
        }
      }
  
      &-block-four{
        width: 100%;
        margin-top: 10px;
        position: relative;
        
        img{
          width: 100%;  
           
          
        }
        &-home{
          position: absolute;
          top: 70px;
          display: flex;
          align-items: center;
          gap: 12px;
          color: #00B207;
          font-size: 16px;
          font-weight: 400;
          font-family: 'Poppins' , sans-serif;
        }
      }
  }




.main{


    width: 100%;
    height: 100%;
    padding-top: 30px;

  
    &-banner-trusdet{
        display: flex;
    }
    
    &-banner-trusdet-img-sect{
      
          
    }
    // &-banner-trusdet-img{

    //     width: 300px;
    // }

   
    &-banner-trusdet-text{
        width: 600px;
        padding-left: 70px;
        // margin-bottom: 20px;
        margin-top: 70px;
        
       
    }

    &-banner-trusdet-text-h1{
       
    }
    &-banner-trusdet-text-h1-section{
        width: 300px;
    }
    &-banner-trusdet-text-paragraph-section{
        width: 500px;
        margin-top: 25px;
        
    }


    &-banner-organic{
        display: flex;
        padding-left: 70px;
        padding-top: 30px;
        background-color: #f7f7f7;
    }

    &-banner-organic-img{
        background-image: url(/images/banner-organic.jpg);
    }

    &-banner-organic-fon{
        
        
    }

    &-banner-organic-text{
        width: 600px;
        padding-left: 70px;

       
    }

    &-banner-organic-text-h1{
       
    }
    &-banner-organic-text-h1-section{
        width: 300px;
    }
    &-banner-organic-text-paragraph-section{
        width: 500px;
        margin-top: 25px;
    }
    &-banner-organic-ctrl{
        display: flex;
        margin-top: 24px;
    }
    &-banner-organic-ctrl-text{
        margin-top: 10px;
        margin-left: 10px;
        
    }
    &-banner-organic-ctrl-text-latty{
        font-weight: 600;
    }

    &-banner-organic-ctrl-text-paragraph{
        font-size: 11px;
        margin-top: 10px;
    }
    &-banner-organic-wrapper-ctrl{
        display: flex;
    }
}




.footer{
   
    &_row{
        margin-top: 225px;

    }

    &_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        &-color{
            width: 100%;
            height: 162px;
            background-color: #F7F7F7;
            padding: 35px 0;
        }

        &-text{
            display: flex;
            flex-direction:column ;
            gap: 8px;
            &-title{
                font-size: 24px;
                font-weight: 600;
                color: #1A1A1A;
            }
            &-subtitle{
                font-size: 14px;
                font-weight: 400;
                color: #999999;
            }
        }
   
        &-email{
            display: flex;
            
          }
          &_email{
            width: 536px;
            height: 52px;
            display: flex;
            align-items: center;
            gap: 170px;
            padding: 10px 20px;
            border-radius: 25px ;
            border: 1px solid #E6E6E6;
            justify-content: space-between;
        
            &-input{
              background-color: transparent;
              border: none;
              font-family: inherit;
              cursor: pointer;
              outline: none;
              border: none;
              color: #39425D;
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding: 10px 16px;
              transition: all 0.2s ease-in-out;
          }
          &-btn2{
            width: 162px;
            height: 52px;
            background-color: green;
            color: #fff;
            border-radius: 25px;
          }
        }
       &-socile{
        display: flex;
        align-items: center;
        gap: 8px;
        width: 184px;

        &-svg1:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;

           &:hover path{
                fill: white; 
            }
            

        }
        &-svg2:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;


           &:hover path{
                fill: white; 
            }
            

        }
        &-svg3:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;


           &:hover path{
                fill: white; 
            }
            

        }
        &-svg4:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;


           &:hover path{
                fill: white; 
            }
            

        }
       }
    }
    &_button{
        display: flex;
        padding-top: 60px;
        gap: 60px;


    &-color{
        width: 100%;
        height: 368px;
        background-color: #1A1A1A;
    }
 
    &_one{
        width: 336px;
        height: 166px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
      

        &-logo{
            display: flex;
            align-items: center;
            gap: 8px;

            &-tit{
                color: #FFFFFF;
                font-size: 32px;
                font-weight: 500;
            }
        }
        &-text{

            &-sub{
                color: #808080;
                font-size: 14px;
                font-weight: 400;
            }
        }

        &-call{
            display: flex;
            align-items: center;
            gap: 12px;

            &-p1{
                font-size: 14px;
                font-weight: 500;
                color: #FFFFFF;
                border-bottom: 1px solid green;
            }
            &-p2{
                font-size: 14px;
                font-weight: 500;
                color: #FFFFFF;
                border-bottom: 1px solid green;

            }
            &-span{
                font-size: 16px;
                color: #808080;
            }
        }

        &-two{
            display: flex;
            gap: 40px;

            &-text1{
                display: flex;
                flex-direction: column;
                gap: 8px;

                &-p1{
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                }
                &-p2{
                    color:#999999;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover{
                        color: #F7F7F7;
                    }
                }
            }
            &-text2{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            &-text3{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            &-text4{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            
            
        }
    }
    &-bottom{
        display: flex;
        padding-top: 45px;
        justify-content: space-between;

        &-text{
          padding:24px 0px 24px 0px;

        &-p{
            color: #808080;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &-socile{
        display: flex;
        gap: 8px;

        &-one{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-two{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-three{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-four{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-five{
            width: 70px;
            height: 32px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            padding: 5px 5px;
            gap: 5px;

            &-p2{
                color: #FFFFFF;
                font-size: 9px;
                font-weight: 500;
            }
            &-p1{
                color: #FFFFFF;
                font-size: 8px;
                font-weight: 400;
            }
        }
    }
    }
  
   
}