.footer{
   


    &_top{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        &-color{
            width: 100%;
            height: 162px;
            background-color: #F7F7F7;
            padding: 35px 0;
        }

        &-text{
            display: flex;
            flex-direction:column ;
            gap: 8px;
            &-title{
                font-size: 24px;
                font-weight: 600;
                color: #1A1A1A;
            }
            &-subtitle{
                font-size: 14px;
                font-weight: 400;
                color: #999999;
            }
        }
   
        &-email{
            display: flex;
            
          }
          &_email{
            width: 536px;
            height: 52px;
            display: flex;
            align-items: center;
            gap: 170px;
            padding: 10px 20px;
            border-radius: 25px ;
            border: 1px solid #E6E6E6;
            justify-content: space-between;
        
            &-input{
              background-color: transparent;
              border: none;
              font-family: inherit;
              cursor: pointer;
              outline: none;
              border: none;
              color: #39425D;
              font-family: "Montserrat", sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding: 10px 16px;
              transition: all 0.2s ease-in-out;
          }
          &-btn2{
            width: 162px;
            height: 52px;
            background-color: green;
            color: #fff;
            border-radius: 25px;
          }
        }
       &-socile{
        display: flex;
        align-items: center;
        gap: 8px;
        width: 184px;

        &-svg1:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;

           &:hover path{
                fill: white; 
            }
            

        }
        &-svg2:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;


           &:hover path{
                fill: white; 
            }
            

        }
        &-svg3:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;


           &:hover path{
                fill: white; 
            }
            

        }
        &-svg4:hover{
            width: 40px;
            height: 40px;
            border-radius: 50px;
            border: 1px solid green;
            background-color: green;
            display: flex;
            align-items: center;
            padding: 10px 10px;
            transition: all 0.5s ease-in-out;


           &:hover path{
                fill: white; 
            }
            

        }
       }
    }
    &_button{
        display: flex;
        padding-top: 60px;
        gap: 60px;


    &-color{
        width: 100%;
        height: 368px;
        background-color: #1A1A1A;
    }
 
    &_one{
        width: 336px;
        height: 166px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
      

        &-logo{
            display: flex;
            align-items: center;
            gap: 8px;

            &-tit{
                color: #FFFFFF;
                font-size: 32px;
                font-weight: 500;
            }
        }
        &-text{

            &-sub{
                color: #808080;
                font-size: 14px;
                font-weight: 400;
            }
        }

        &-call{
            display: flex;
            align-items: center;
            gap: 12px;

            &-p1{
                font-size: 14px;
                font-weight: 500;
                color: #FFFFFF;
                border-bottom: 1px solid green;
            }
            &-p2{
                font-size: 14px;
                font-weight: 500;
                color: #FFFFFF;
                border-bottom: 1px solid green;

            }
            &-span{
                font-size: 16px;
                color: #808080;
            }
        }

        &-two{
            display: flex;
            gap: 40px;

            &-text1{
                display: flex;
                flex-direction: column;
                gap: 8px;

                &-p1{
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: 500;
                }
                &-p2{
                    color:#999999;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover{
                        color: #F7F7F7;
                    }
                }
            }
            &-text2{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            &-text3{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            &-text4{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }
            
            
        }
    }
    &-bottom{
        display: flex;
        padding-top: 45px;
        justify-content: space-between;

        &-text{
          padding:24px 0px 24px 0px;

        &-p{
            color: #808080;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &-socile{
        display: flex;
        gap: 8px;

        &-one{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-two{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-three{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-four{
            width: 45px;
            height: 31px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &-five{
            width: 70px;
            height: 32px;
            border: 1px solid #333333;
            border-radius: 5px;
            display: flex;
            padding: 5px 5px;
            gap: 5px;

            &-p2{
                color: #FFFFFF;
                font-size: 9px;
                font-weight: 500;
            }
            &-p1{
                color: #FFFFFF;
                font-size: 8px;
                font-weight: 400;
            }
        }
    }
    }
  
   
}