/* MAIN BONNER - START*/

.main{


    &-banners{
        width: 100%;
        height: 752px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &-title{
            width: 100%;
            height: 80%;
            display: flex;
            gap: 24px;
            
            &__left{
                width: 67%;
                height: 100%;
                position: relative;
                z-index: 2;
                border-radius: 8px;
                overflow: hidden;
                background-size:cover;
                
                &::before {
                    content: "";
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 60%;
                    height: 100%;
                    border-radius: 8px;
                    background: linear-gradient(90deg, rgb(7 56 21), rgb(255 255 255 / 0%) 100%);
                }

                img{
                    height: 105%;
                    position: absolute;
                    z-index: 1;
                }
                
                &__text{
                    width: 596px;
                    height: 290px;
                    display: flex;
                    flex-direction: column;
                    gap: 28px;
                    padding-left: 60px;
                    padding-top: 155px;
                    
                    
                    &__title{
                        font-size: 48px;
                        position: relative;
                        font-weight: 600;
                        z-index: 2;
                        line-height: 57.6px;
                        color: $white-color;
                    }
                    &__sobtitle{
                        display: flex;
                        flex-direction: column;
                        position: relative;
                        gap: 8px;
                        z-index: 2;
                        
                        &__titlle{
                            font-size: 18px;
                            font-weight: 500;
                            color: $white-color;
                            
                            span{
                                padding: 5px 12px;
                                border-radius: 4px;
                                background-color: $primary-color;
                            }
                        }
                        &__sobtitlle{
                            font-size: 14px;
                            font-weight: 300;
                            color: $white-color;
                        }
                    }

                    &__buttons{
                        width: 191px;
                        height: 51px;
                        display: flex;
                        align-items: center;
                        position: relative;
                        border-radius: 40px;
                        z-index: 2;
                        background-color: $white-color;

                        &:hover{
                            background-color: #e9f3e9;
                        }

                        &__text{
                            display: flex;
                            align-items: center;
                            gap: 6px;
                            padding: 16px 40px;
                            
                            p{
                                font-size: 16px;
                                font-weight: 600;
                                color: #00B207;
                                
                            }
                            &__svg{
                                display: flex;
                                align-items: center;

                                svg path{
                                    fill:#00B207;
                                }
                            }
                            
                        }
                    }
                }
            }
            &__right{
                width: 33%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 24px;
                
                &__top{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    z-index: 2;
                    border-radius: 8px;
                    overflow: hidden;
                    background-size:cover;

                    img{
                        height: 190%;
                        position: absolute;
                        top: -80px;
                        left: -110px;
                        z-index: 1;
                        transform: rotate(270deg);
                        transform: scaleX(-1);
                    }
                    
                    &__text{
                        width: 156px;
                        height: 136px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        margin-top: 32px;
                        margin-left: 32px;
                        
                        
                        &__title{
                            width: 100%;
                            font-size: 14px;
                            position: relative;
                            font-weight: 500;
                            z-index: 2;
                            line-height: 34px;
                            color: $black-color;
                            
                            span{
                                font-size: 32px;
                                font-weight: 600;
                                line-height: 38.4px;
                            }
                        }
                        &__sobtitle{
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px;
                            position: relative;
                            z-index: 2;
                            color: #666666;
                            
                        }

                        &__buttons{
                            display: flex;
                            align-items: center;
                            position: relative;
                            z-index: 2;
                            border-radius: 50px;

                            &:hover{
                                background-color: #00B207;

                                p,svg path{
                                    fill: $white-color;
                                    color: $white-color;
                                }
                            }

                            &__text{
                                display: flex;
                                align-items: center;
                                padding: 5px 12px;
                                gap: 6px;
                                
                                p{
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: #00B207;
                                    
                                    
                                }
                                &__svg{
                                    display: flex;
                                    align-items: center;

                                    svg path{
                                        fill:#00B207;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                &__bottom{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    z-index: 2;
                    border-radius: 8px;
                    overflow: hidden;
                    background-size:cover;

                    &::before {
                        content: "";
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        background:rgba($color: #012002, $alpha: 0.7);
                    }

                    img{
                        height: 150%;
                        position: absolute;
                        z-index: 1;
                    }
                    
                    &__text{
                        width: 343px;
                        height: 153px;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        align-items: center;
                        justify-content: center;
                        
                        
                        &__title{
                            position: relative;
                            font-weight: 500;
                            z-index: 2;
                            font-size: 14px;
                            line-height: 14px;
                            color: $white-color;
                            
                        }
                        &__sobtitle{
                            display: flex;
                            text-align: center;
                            font-size: 32px;
                            font-weight: 600;
                            line-height: 38.4px;
                            position: relative;
                            z-index: 2;
                            color: $white-color;
                            ;
                            
                        }

                        &__buttons{
                            display: flex;
                            align-items: center;
                            position: relative;
                            z-index: 2;
                            border-radius: 50px;

                            &:hover{
                                background-color: #00B207;

                                p,svg path{
                                    fill: $white-color;
                                    color: $white-color;
                                }
                            }

                            &__text{
                                display: flex;
                                align-items: center;
                                padding: 5px 12px;
                                gap: 6px;
                                
                                p{
                                    font-size: 16px;
                                    font-weight: 600;
                                    color: #00B207;
                                    
                                    
                                }
                                &__svg{
                                    display: flex;
                                    align-items: center;

                                    svg path{
                                        fill:#00B207;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
        &-sobtitle{
            width: 100%;
            height: 20%;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            box-shadow: 0px 20px 60px 0px rgba(34, 60, 80, 0.1);

            &__contens{
                width: 306px;
                height: 48px;
                display: flex;
                align-items: center;
                gap: 16px;
                
                
                img,svg{
                    width: 40px;
                    height: 40px;
                }

                &__text{
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    &__title{
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19.2px;
                        color: $black-color;
                    }
                    &__sobtitle{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 21px;
                        color: #999999;
                    }
                }
            }
        }   
    }
}



/* MAIN BONNER - END*/