/* POPULAR PRODUCTS - START*/

.main{
  
    &-popularProducts{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
  
      &-title{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        &__text{
          font-size: 32px;
          font-weight: 600;
          line-height: 38.4px;
          color: $black-color;
        }
        &__buttons{
          display: flex;
          align-items: center;
          
          &__text{
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 5px 12px;
            gap: 6px;
            
            p{
              font-size: 16px;
              font-weight: 600;
              color: #00B207;
                  
            }
            &__svg{
              display: flex;
              align-items: center;
  
              svg path{
                fill:#00B207;
              }
            }
            &:hover{
              background-color: #00B207;

    
              p,svg path{
                fill: $white-color;
                color: $white-color;
              }
            }
          }
  
  
        }
      }
  
      &-sobtitle{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 32px;
  
        &__buttons{
          width: 260px;
          height: 327px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 12px;
          border: 1px solid #e6e6e6;
          position: relative;
          border-radius: 5px;
          z-index: 2;
  
          img{
            width: 150px;
            height: 150px;
          }
          &__text{
            font-size: 16px;
            font-weight: 500;
            line-height: 27px;
          }
  
          &:hover{
            border: 1px solid #00B207;
            box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  
          }
        }
      }
    }
}

.shop-row{
  display: flex;
}


.shop-sidebar{
  width: 312px;
}

.card-item{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 2;

  img{
    width: 100%;
    height: 190px;
  }

  &:hover{
    border-color: #2C742F;

    .card-btn__heart,
    .card-btn__eye{
      display: block;
      @include flex(center, center);
    }
    .card-price__name{
      color: #00B207;
    }
  }
}

.card-btns{
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.2s ease-in-out;
}

.card-btn__heart{
  width: 39px;
  height: 39px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  @include flex(center, center);
  background-color: #fff;
  cursor: pointer;
  display: none;
  transition: all 0.2s ease-in-out;  
  
  &:hover{
    background-color: #00B207;

    svg path{
      fill: #fff;
    }
  }

}

.card-btn__eye{
  width: 39px;
  height: 39px;
  border: 1px solid #f2f2f2;
  margin-top: 10px;
  border-radius: 50%;
  @include flex(center, center);
  background-color: #fff;
  cursor: pointer;
  display: none;
  transition: all 0.2s ease-in-out;

  &:hover{
    background-color: #00B207;

    svg{
      fill: #fff;
    }
  }
}

.card-text{
  display: flex;
  justify-content: space-between;
  padding: 30px 12px 0px 12px;
}

.card-price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 2;

  &__name{
    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 8px;
  }
  
  &__sell{
    font-family: $main-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 8px;
  }
  &__reputation{
    width: 80px;
    height: 12px;

    svg{
      width: 12px;
    }
  }
}

.card-btn-buy{
  width: 40px;
  height: 40px;
  background-color: #F2F2F2;
  border-radius: 50%;
  @include flex(center, center);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover{
    background-color: #00B207;

    & path{
      fill: $white-color;
    }
  }

  svg{
    width: 32px;
    height: 32px;

    & path{
      fill: $black-color;
    }
  }
}


  
  /* POPULAR PRODUCTS - END*/