*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li{
  list-style: none;
}

button{
  border: none;
  font-family: inherit;
  background-color: transparent;
}

a{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}