@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// fonts
$main-font: 'Poppins', sans-serif;
$poppins: 'Poppins', sans-serif;
$main-font-1: 'Poppins', sans-serif;

// Colors
$white-color: #fff;
$primary-color: #c47f1e;
$black-color: #1A1A1A;

;
$green-color: #00B207;
$deep-green-color: #20B52633;
$gray-color: #B3B3B3;
$text-gray-color: #666666;
$text-black-color: #333333;
$border-gray-color: #E6E6E6;
$whete-color: #F2F2F2;
$number-green-color: #2C742F;
$branding-green-color: #00B207;
$red-color: #EA4B481A;
$text-red-color: #EA4B48;
$black-scale-color: #1A1A1A;
$gray-white-color: #808080;
$gray-color: #E6E6E6;
