@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$main-font: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;

// Colors

$primary-color: #E89F38;
$white-color: #fff;
$black-color: #252B2E;
$green-color: #00B207;
$deep-green-color: #20B52633;
$gray-color: #B3B3B3;
$text-gray-color: #666666;
$text-black-color: #333333;
$border-gray-color: #E6E6E6;
$whete-color: #F2F2F2;
$number-green-color: #2C742F;
$branding-green-color: #00B207;
$red-color: #EA4B481A;
$text-red-color: #EA4B48;
$black-scale-color: #1A1A1A;
$gray-white-color: #808080;